@model LoginView
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<form asp-action="Login" method="post">
    <label asp-for="Name">Name:</label>
    <input asp-for="Name"/>
    <label asp-for="Password">Password:</label>
    <input asp-for="Password" />
    <button type="submit" class="btn btn-danger">SignIn</button>
</form>
