@model IEnumerable<string>

<p> @ViewData["categoria"] </p>

<aside>
   
    <nav>
     
        <ul>
            @foreach (var item in Model)
            {
            <li>
                <a asp-controller="Product" asp-action="Home" asp-route-categoria="@item" asp-route-ProductPage="1"> @item</a></li>
                }
            </ul>
    </nav>
</aside>



